<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="css/login.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <!--Let browser know websitfile.html?action=#e is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <title>BeeShare</title>
  <!--JQUERY-->
</head>

<body>
  <div id="app">
    <div class="wrapper">
      <div class="top" align=center>
        <div class="card-panel yellow accent-4"><img src="./assets/logo.jpg" alt="">
          <h2 align=center style="font-family: roboto; font-weight:100; ">BEESHARE</h2>
        </div>
      </div>
      <div class="form container">
        <div class="card-panel z-depth-5">
          <form action="#" id="login" v-if="loginstate">
            <h2 align=center>LOGIN</h2>
            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <input id="filename" type="text"  v-model="login.username">
                  <label for="filename" data-error="wrong" data-success="right">Username</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <input id="desc" type="password"  v-model="login.password">
                  <label for="desc" data-error="wrong" data-success="right">Password</label>
                </div>
              </div>
            </div>
            <button class="btn waves-effect waves-light yellow accent-2" id="login" type="submit" name="action" v-on:click="signin">LOGIN
             <i class="material-icons right">send</i>
           </button><br><br> Or if You Dont Have An Account <br><br>
            <button class="btn waves-effect waves-light red accent-2" id="toggle" type="button" v-on:click="paketlogin()"
              name="action">REGISTER
             <i class="material-icons right">send</i>
           </button>
          </form>
          <form action="#" id="register" v-if="regisstate">
            <h2 align=center>REGISTER</h2>
            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <input id="user" type="text"  v-model="regis.username">
                  <label for="filename" data-error="wrong" data-success="right">Username</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <input id="pass" type="password"  v-model="regis.password">
                  <label for="desc" data-error="wrong" data-success="right">Password</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <input id="email" type="text" v-model="regis.name">
                  <label for="desc" data-error="wrong" data-success="right">Full Name</label>
                </div>
              </div>
            </div>
            <button class="btn waves-effect waves-light yellow accent-2" id="regis" v-on:click="paketregis()" type="submit"
              name="action">REGISTER
             <i class="material-icons right">send</i>
           </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
  <script src="./assets/index.js"></script>
</html>
